<div align="center">
	<h2>Events</h2>
</div>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Member</th>
    <th>E-mail</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date %></td>
    <td><%= event.member %></td>
    <td><%= event.member.email %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div align="center">
	<a class="btn btn-primary" href="/events/new">New Event</a>
</div>

